#editProfileWrapper {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profileHeader {
    margin-top: 0;
}

#editProfileWrapper>#SelectedProfile>img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

#editProfileWrapper>#SelectedProfile>img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

#editProfile {
    width: 50vw;
    height: 60vh;
    background-color: beige;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editProfile>#SelectedProfile {
    height: 60px;
    width: 60px;
    border: 1px solid gray;
    border-radius: 50%;
    object-fit: contain;
}

#editProfilePicForm {
    display: flex;
    align-items: center;
}


#editprofilePicButton {
    width: 30%;
    height: 25px;
}

.profileOptionsContainer {
    display: flex;
    height: 50%;
    border-radius: 50%;
    list-style: none;
}

.editProfileOptions {
    border-radius: 50%;
    border: 1px solid gray;
    background-color: steelblue;
}

.editProfileOptions>img {
    width: 50px;
    height: 50px;
}

.InputHeader {
    margin: 0;
}

.selectedProfilePic {
    width: 100%;
}

#logOutButton {
    height: 25px;
    width: 60px;

    margin-left: 80%;
}