#feedbackContainer {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 20%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: beige;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 1;

}

.feedback_opacity {
    opacity: 0.5;
}