#feedbackContainer {
    position: fixed;
    z-index: 1;
    width: 350px;
    height: 20%;
    border: 1px solid black;
    border-radius: 20px;
    background: radial-gradient(827px at 47.3% 48%, rgb(228, 245, 255) 0%, rgb(176, 199, 209) 90%);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    bottom: 40vh;
    left: 38vw;

}

.feedback_opacity {
    /*opacity: 0.5; */
}