#generatorParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}
#generator {
}

#generatorGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 150px;
    gap: 25px;
}

.tops_generate {
    display: grid;
    grid-template-columns: auto 100px 100px 100px auto;
    gap: 25px;
}

.tops_generate div {
    background-color: rgb(167, 198, 167);
}

.bottoms_generate {
    display: grid;
    grid-template-columns: auto 100px 100px 100px auto;
    gap: 25px;
}

.bottoms_generate div {
    background-color: rgb(187, 205, 224);
}

.shoes_generate {
    display: grid;
    grid-template-columns: auto 100px 100px 100px auto;
    gap: 25px;
}

.shoes_generate div {
    background-color: rgb(243, 235, 178);
}

#selectedTop > div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
}
#selectedBottom > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
}

#selectedShoe > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
}

.arrow {
    height: 20px;
    width: 20px;
}