body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    padding: 5px 10px;
    color: rgb(66, 82, 88);
    background-color: #ecebeb;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(235, 232, 232);
}