button#RegisterButton,
button#LoginButton {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: 30px;
    font-weight: 150;
}


main {
    width: 30%;
    height: 60%;
    background-color: #accdea;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;

}

#submitButtonContainer {
    display: flex;
    justify-content: center;
}

#submitButton {
    width: 30%;
    margin-top: 50px;
}

.InputHeader {
    margin-bottom: 0;
}

#LoginRegisterContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid grey;
    width: 80%;
}

#ProfilePicContainer {
    height: 20%;
    width: 80%;
    margin: 15px;
    display: flex;
    align-items: end;
}


#SelectedProfile {
    height: 100%;
    width: 12vw;
    border: 1px solid gray;
    border-radius: 50%;
}

.profileOption {
    height: 50%;
    width: 6vw;
    border: 1px solid gray;
    border-radius: 50%;
}