.outfit {
    justify-content: space-between;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 4fr;
    grid-gap: 10px;
    height: 250px;
    width: 250px;
    border: 1px black solid;
    align-items: center;
}

.outfit > div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    background-size: contain;
    justify-self: center;
    height: 100%;
    width: 100%;
}

.outfitBottom {
    grid-column: 2;
    grid-row: 1 / span 2;
}

#wardrobeFeed > #outfitsUl {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 1vh;
    grid-auto-rows: 250px;
    padding-left: 0px;
    margin-top: 0;
}
