.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.25s, opacity 0.25s;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  z-index: 1;
}

#popupContent {
  background-color: #fff;
  padding-left: 60px;
  height: 600px;
  box-sizing: content-box;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}

#newOutfitTop {
  display: grid;
  justify-content: center;
  padding-bottom: 20px;
}

#newOutfitTop>h1 {
  justify-content: center;
  display: flex;
  margin: 0;
}

#newOutfit2 {
  justify-self: center;
}

#pickBackgroundColor {
  display: flex;
  background: linear-gradient(90deg, rgba(60, 49, 255, 1) 0%, rgba(81, 53, 249, 1) 2%, rgba(122, 57, 242, 1) 28%, rgba(255, 171, 0, 1) 100%);
  border-radius: 50px;
  height: 40px;
  width: 200px;
  color: white;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

#description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 55px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: var(--borderStandard);
}

#popupSelectedItems {
  justify-content: space-between;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 4fr;
  grid-gap: 10px;
  height: 400px;
  width: 400px;
  border: var(--borderStandard);
  align-items: center;
}


#popupSelectedItems>div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  background-size: contain;
  justify-self: center;
}

#closePopupButton {
  border: none;
  height: 30px;
  width: 30px;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}

#savePopupButton {
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: var(--borderRadius);
  color: #fff;
  /* border: 2px solid black; */
  font-weight: bold;
  /* padding: 10px 20px; */
  font-size: 14px;
  width: 70px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}


#popupSelectedTop {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupSelectedBottom {
  grid-column: 2;
  grid-row: 1 / span 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupSelectedShoe {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#styleCategories {
  display: flex;
  flex-direction: column;
  height: 510px;
  border-radius: 15px;
  margin-bottom: 0;
  gap: 26px;
  width: 200px;
}

#styleCategories legend {
  background-color: grey;
  color: #fff;
  padding: 2vh;
  border-radius: 15px;
  width: inherit;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3vh;
}

fieldset>button {
  padding: var(--padding);
  border-radius: 20px;
}

#newOutfitBottom {
  grid-template-columns: 300px 400px;
  grid-template-rows: 400px 50px;
  display: grid;
}

#streetwearLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#casualLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#sportyLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#formalLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#businessLabel {
  background-color: pink;
  border-radius: 2var(--borderRadius);
  padding: 10px;
}

#datenightLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#summerLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#winterLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#springLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#autumnLabel {
  background-color: pink;
  border-radius: var(--borderRadius);
  padding: 10px;
}

#popupOutfit {
  justify-content: space-between;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6fr 4fr;
  grid-gap: 10px;
  height: 400px;
  width: 400px;
  border: var(--borderStandard);
  align-items: center;
}

#popupOutfit>div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  background-size: contain;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.descriptionHidden {
  opacity: 0;
  height: 0;
  width: 0;
}

.stylesHidden {
  opacity: 0;
  height: 0;
  width: 0;
}

#outfitH1 {
  text-align: center;
  margin-top: 0;
}

#descriptionOutfit {
  height: auto;
  border: var(--borderStandard);
  display: flex;
  align-content: center;
  align-self: center;
  align-items: center;
  padding: 20px;
}

#stylesOutfit {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}


#stylesOutfit>div {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 50px;
}