#wardrobeParent {
    margin: 15vh 0 0 0;
}

/* div#wardrobePage {
    display: flex;
    flex-direction: column;
} */

#wardrobePage {
    text-align: center;
}

#wardrobePage>div {
    display: flex;
    align-items: center;
}

#wardrobePage>div>a {
    text-decoration: none;
    color: black;
    padding: 2vh 5vw;
    background-color: #d5d5d5;
}

#wardrobePage>div>a:last-of-type {
    border-radius: 0 5px 0 0;
}

#wardrobePage>div>a:hover {
    background-color: #ecebeb;
}

#filter {
    position: relative;
    width: 10vw;
    margin-left: 80px;
}

#filter:hover #filtering {
    display: flex;
    z-index: 1000;
}

#filter>a {
    display: block;
    background-color: rgb(86, 113, 124);
    border-radius: 5px 0 0 0;
}

#wardrobePage>div>nav>a,
#filtering>a {
    text-decoration: none;
    color: black;
    padding: 2vh;
}

#wardrobePage>div>nav>a {
    color: #fff;
}

#filtering>a {
    width: 8vw;
}

#filtering>a:hover {
    background-color: #ecebeb;
}

#filtering {
    position: absolute;
    display: none;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    background-color: #fff;
}

#wardrobeFeed {
    display: flex;
    justify-content: center;
}

#wardrobeFeed>ul {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    gap: 1vh;
    grid-auto-rows: 320px;
    padding-left: 0px;
}

.feedImages {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: #ecebeb;
}

.itemButton {
    border: none;
    background-color: transparent;
    padding: 5px;
}

.itemButton:hover {
    cursor: pointer;
}

.itemButton:active {
    cursor: pointer;
    border: 0.5px solid grey;
}

.itemButton>img {
    height: 25px;
}

#addClothes {
    margin-left: 2vw;
    padding: 1.5vh;
}