#feedbackContainer {
    position: fixed;
    z-index: 1;
    width: 20vw;
    height: 20vh;
    padding: 0 3vh;
    border: 1px solid black;
    border-radius: var(--borderRadius);
    background: var(--blueGradientBackground);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    bottom: 40vh;
    left: 38vw;

}

#feedbackContainer>p {
    text-align: center;
}